assignment_4/src/main/mule/assignment_4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ce63725-2f4b-4269-ac24-3b6092b7d3d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="428b0671-da0b-4993-bdac-33eab7a96b99" file="dev.properties" />
	<flow name="assignment_4Flow" doc:id="47670eb5-c656-4c29-8c2c-1b16045c9bde" >
		<http:listener doc:name="Listener" doc:id="b3850b42-bac7-4e9f-8a4f-d411695afd86" config-ref="HTTP_Listener_config" path="/demoClass"/>
		<logger level="INFO" doc:name="Logger" doc:id="b351e644-3548-4b01-8022-663ab40f9519" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="26813f29-0705-4f53-9093-625de9c7a6cf" name="subflow"/>
		<logger level="INFO" doc:name="Logger" doc:id="2bfa0725-80ee-4cd2-892a-a951842492ed" message="#[payload]"/>
	</flow>
	<sub-flow name="subflow" doc:id="c2ef11de-f6a4-4afd-8bbd-ec283f3ccc7d" >
		<ee:transform doc:name="Transform Message" doc:id="708706f4-e70d-4f59-bb0c-9a084eec6992" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[attributes.queryParams.company]" doc:name="Set Variable" doc:id="ca04d652-8d66-46b2-a5ce-023d2ebbd276" variableName="var0" />
		<set-variable value="#[payload.name]" doc:name="Set Variable" doc:id="9e4df53d-5348-4a6a-8249-2a9a8932b8f9" variableName="var1"/>
		<set-variable value="#[payload.role]" doc:name="Set Variable" doc:id="68785f02-3048-46ca-a845-78d49fc6c384" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="235a5065-d6ef-4c7c-9b31-574e2253cef9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

var a = vars.var1
var b = vars.var2
var c = vars.var0
var res = p('http.body') ++ ':' ++  "hello" ++ ' ' ++ vars.var1 ++ ' ' ++ "You are a" ++ ' ' ++ vars.var2 ++ ' ' ++ "working for" ++ ' ' ++ vars.var0 
output application/json
---

res
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d38e1b2-d50c-4c0f-baed-838b6f6b0217" message="#[payload]"/>
	</sub-flow>
</mule>
